.header {
    /* background-color: rgb(226, 226, 226); */
    color: green;
    border-radius: 2px;
    width: 1000px;
    /* box-shadow: 5px 5px 10px grey; */
}

.header h2 {
    margin-left: 10px;
}