.hrd {    
    /* background-image: linear-gradient(rgb(226, 226, 226), white, rgb(226, 226, 226)); */
    /* border: 1px solid white; */
    /* border-radius: 5px; */

    /* display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: rgb(179, 255, 179);
    width: 1000px;
    height: 50px; */

    /* background-color: rgb(68, 68, 68);     */
    
    border-radius: 2px;
    margin-bottom: 10px;
    width: 1000px;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: rgb(179, 255, 179);
    width: 1000px;
    height: 50px;
    /* color: aliceblue; */
    /* border: 1px solid white; */
    /* border-radius: 5px; */
}

.navbar div {
    text-align: center;
    line-height: 50px; /*vertically center*/
    /* align-items: center; */
    /* margin: auto; */
    padding: 0px 10px;
    height: 50px;
    font-size: 20px;
    color: rgb(0, 100, 0);
}

.navbar div:hover {
    background-color: brown;
    color: aliceblue;
}

.navbar button {
    background-color:rgb(179, 255, 179);
    border: rgb(179, 255, 179);
    font-size: 20px;
    height: 50px;

    font-weight: 550;
    color: rgb(0, 100, 0);
    cursor: pointer;
}

.navbar button:hover {
    background-color: brown;
    color: aliceblue;
}

.navbar a:link {
    text-decoration: none;
    font-weight: bolder;
    color: white;
    /* padding: 0px 5px; */
}


